/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

header h1 {
    font-size: 2.5em;
    padding: 10px;
}

main {
    text-align: left;
}

#score-list {
    list-style-type: none;
    padding: 5px;
    margin: 20px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    text-align: center;
}

footer button {
    background-color: rgb(42, 40, 40);
    color: whitesmoke;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}

/* Estilos de la tabla */
#score-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    display: table; /* Mostramos la tabla */
}

#score-table th, #score-table td {
    border: 1px solid whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Fuente consistente */
}

#tu1, #tu2 {
    font-size: 1.5em;
    padding: 20px;
}

#score-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    footer button {
        font-size: 0.9em;
        padding: 8px 15px;
    }

    #score-table th, #score-table td {
        font-size: 0.9em;
        padding: 8px;
    }

    #tu1, #tu2 {
        font-size: 1.2em;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    footer button {
        font-size: 0.8em;
        padding: 5px 10px;
    }

    #score-table th, #score-table td {
        font-size: 0.8em;
        padding: 5px;
    }

    #tu1, #tu2 {
        font-size: 1em;
        padding: 5px;
    }
}
