/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    margin: 20px;
}

header h1 {
    font-size: 3em;
    margin: 10px;
    padding: 10px;
}

main {
    text-align: left;
    padding: 20px;
    max-width: 600px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

main ol {
    padding-left: 20px;
}

main ol li {
    margin-bottom: 10px;
}

.button {
    background-color: rgb(42, 40, 40);
    color: whitesmoke;
    padding: 15px 30px; /* Aumentamos el padding para hacer el botón más grande */
    font-size: 1.5em; /* Aumentamos el tamaño de la fuente */
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    main {
        font-size: 1em;
    }

    .button {
        font-size: 1.2em; /* Aumentamos el tamaño de la fuente en móviles */
        padding: 10px 20px; /* Aumentamos el padding para hacer el botón más grande en móviles */
    }

    footer {
        font-size: 0.8em;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    header h1 {
        font-size: 2.5em;
    }

    main {
        font-size: 1.1em;
    }

    .button {
        font-size: 1.3em; /* Ajustamos el tamaño de la fuente en tablets */
        padding: 12px 25px; /* Ajustamos el padding para hacer el botón más grande en tablets */
    }

    footer {
        font-size: 0.9em;
    }
}
